<div class="container">
  <h1>Chat room</h1> <hr>
  <div id="notification"></div>
  <div class="col-md-9">
    <div id="messages"></div>
    <div id="new_message">
      <%= render 'messages/new' %>
    </div>
  </div>
  <div class="col-md-3">
    <h4>Users</h4>
    <ul>
      <% @users.each do |user| %>
        <li class="<%= user.online? ? 'online' : '' %>" id="online-status-<%=user.id%>" >
          <%= user.email %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
